[Unit]
Description=gitbucket, a git service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /usr/lib/gitbucket/gitbucket.war

[Install]
WantedBy=multi-user.target
